body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
#intro1{
    margin: 0px;
    width: 100%;
    height: 50%;
    background-color: #ff160e;
    position: relative;
    left: -100%;
}
#intro2{
    margin: 0px;
    width: 100%;
    height: 50%;
    background-color: #ff160e;
    position: relative;
    right: -100%;
}
#continue{
    font-size: 40px;
    color:white;
    background-color:#ff160e;
    border:none;
    border-radius: 5px;
    position: absolute;
    top: 200px;
    left: 590px;
    cursor: pointer;
}
#continue:hover{
    text-shadow: white 1px 1px 8px; 
}
#languages{
    width: 45px;
    height: 32px;
    padding: 2px;
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    display: none;

}
#header{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
}

#logo{
    color: white;
    background-color: black;
    border: 3px solid white;
    width: 235px;
    height: 35px;
    padding: 10px;
    position: absolute;
    top: 70px;
    left: 70px;
    margin: 0;
    z-index: 2;
}
#slide-img1{
    width: 100%;
    height: 600px;
    position: absolute;
    top:0px;
    left:0px;
    display: flex;
}
#slide-img2{
    opacity: 0;
    width: 100%;
    height: 600px;
    position: absolute;
    top:0px;
    left:0px;
}
#slide-img3{
    opacity: 0;
    width: 100%;
    height: 600px;
    position: absolute;
    top:0px;
    left:0px;
}
#slide-img4{
    opacity: 0;
    width: 100%;
    height: 600px;
    position: absolute;
    top:0px;
    left:0px;
}
#slide-img5{
    opacity: 0;
    width: 100%;
    height: 600px;
    position: absolute;
    top:0px;
    left:0px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    height: 55px;
    position: absolute;
    top: 70px;
    right: 70px;
    z-index: 1;
}  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.searchBox {
    position: absolute;
    top: 60%;
    left: 51%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    transition: 0.0s;
    z-index: 1;
}  

.searchBox:hover > .searchInput {
    width: 300px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
.scrollToTop{
    width:30px; 
    height:30px;
    padding:10px; 
    text-align:center; 
    background: rgb(148, 146, 139);
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-decoration: none;
    position:fixed;
    bottom:40px;
    right:40px;
    display:none;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;
}
.scrollToTop:hover{
    background: rgb(255, 123, 0);
}
#suggest-container{
    position: absolute;
    top: 450px;
    left: 510px;
    transition: 0.3s;
}
.suggestion{
    width: 350px;
    height: 34px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    font-size: 25px;
    transition: 0.3s;
}
.suggestion:hover{
    opacity: 0.8;
    cursor: pointer;
}
#footer{
    margin: 800px 0px 0px 0px;
    width: 100%;
    height: 190px;
    background-color: #333;
    display: flex;
}
#all-game ul li{
    color: white;
    margin: 0px 100px;
}
#contact2 ul li{
    color: white;
    margin: 0px 100px;
}
#article{
    width: 90%;
    height: 1000px;
}
.games{
    width: 300px;
    height: 367px;
    margin: 20px 72px;
    border-radius: 20px;
    box-shadow: 15px 13px 7px 0px rgba(0,0,0,0.1),
                15px 13px 7px 0px rgba(45,78,255,0.15);
    cursor: pointer;
}
.games:hover{
    box-shadow: 25px 20px 7px 0px rgba(0,0,0,0.1),
                25px 20px 7px 0px rgba(45,78,255,0.15);
}
#inner-trailer{
    display: flex;
}
#scroll-trailer{
    width: 600px;
    height: 339px;
    overflow: auto;
    margin: 32px 0px 0px 15px;
    background-color: rgb(46, 154, 255);
}
.box{
    width: 466px;
    height: 30px;
    font-size: 25px;
    padding: 20px;
    margin-top: 1px;
    background-color: white;
    cursor: pointer;
    color: rgb(46, 154, 255);
    border: 2px solid rgb(46, 154, 255);
}
.box:hover{
    background-color: rgb(46, 154, 255);
    color: white;
}
#contact{
    width: 800px;
    height: 700px;
    margin-left: 72px;
    position: relative;
}
#contact textarea{
    display: block;
    font-size: 14px;
    color: #777;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 240px;

}
#contact2 ul li a:hover{
    cursor: pointer;
}
#all-game ul li a:hover{
    cursor: pointer;
}
#arr{
    display: none;
    font-size: 20px;
    margin: 5px 2px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 1;
}